.button {
    display: inline-block;
    padding: 20px 30px;
    color: white;
    font-size: 16px;
    background-color: #2978ff;
    border-radius: 8px;
    width: 300px;
    border: none;
    outline: none;
    margin: 15px;
}
.buttonSecondary {
    background-color: transparent;
    color: #2978ff;
    border: 1px solid #2978ff;
}
